MB.EAI.SOA/ConsoleApplication1/Service References/ServiceReference1/MB2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MB.EAI.SOA.BANGGO/IBanggoServiceProxy" elementFormDefault="qualified" targetNamespace="http://MB.EAI.SOA.BANGGO/IBanggoServiceProxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.101.188/MB.EAI.SOA/MB.EAI.SOA.BANGGO.Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MB.EAI.SOA.BANGGO.Entities" />
  <xs:element name="SaveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MB.EAI.SOA.BANGGO.Entities" minOccurs="0" name="prod" nillable="true" type="q1:ProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MB.EAI.SOA.BANGGO.Entities" minOccurs="0" name="SaveProductResult" nillable="true" type="q2:ReturnMSG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>